apiclient==1.0.4
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
discovery==0.0.4
google==3.0.0
httplib2==0.20.4
idna==3.3
oauth2client==4.1.3
okapi==0.12.0
progress==1.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==4.0.1
pyparsing==3.0.7
qiniu==7.5.0
requests==2.27.1
rsa==4.8
six==1.16.0
soupsieve==2.3.1
upload==0.1.1
urllib3==1.26.8
